.button-slider {
    $button-height: 50px;
    $button-width: 200px;
    $padding: 3px;

    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: $button-width;
    height: $button-height;
    background-color: rgba(black, .8);
    color: white;
    padding: $padding;
    border: none;/* for IE9+, Firefox 4+, Opera, Chrome */
    border-radius: 30px;
    position: relative;

    .option {
        width: calc(#{$button-width} / 2);
        text-align: center;
        background: none;
        cursor: pointer;
        z-index: 1;
    }

    .select-circle {
        position: absolute;
        width: $button-width / 2;
        height: $button-height;
        border-radius: 30px;
        background-color: grey;
        transition: all .3s ease-in-out;

        &.is-on {
            left: $padding;
        }

        &.is-off{
            left: calc(100% - (#{$button-width} / 2) - #{$padding});
        }
    }

    .selected {
        cursor: default;
    }
}